# HW03

## Some exercises to get started with data analysis in Python

### Setup

Run the following 2 cells to import all necessary libraries and helpers for Homework 02

In [58]:
!wget -q https://github.com/DM-GY-9103-2024F-H/9103-utils/raw/main/src/data_utils.py

In [59]:
import matplotlib.pyplot as plt

from HW03_utils import Tests
from data_utils import object_from_json_url

### Exercise 01:

Finding the sum of integer sequences.

Create a function ```sum_of_ints(i0, i1)``` that returns the sum of all integers between two integers.

For example, ```sum_of_ints(4, 32)``` should return $522$.

In [60]:
## Work on exercise 01 here

def sum_of_ints(i0, i1):
  # TODO: fill in this function
  return sum(range(i0, i1 + 1))

print(sum_of_ints(4,32))

522

### Exercise 01 testing:

Running the following cell will test the ```sum_of_ints()``` function on a small set of input pairs and report any combination that isn't computing correctly, if any.

In [61]:
# Test 01
Tests.test("01", sum_of_ints)

ERROR Check sum of sum_of_ints(55, 11) should be 1485 not 0
ERROR Check sum of sum_of_ints(95, 23) should be 4307 not 0
ERROR Check sum of sum_of_ints(68, 32) should be 1850 not 0
ERROR Check sum of sum_of_ints(-28, -96) should be -4278 not 0

### Exercise 02:

Working with lists and dictionaries/objects.

Write a function `sum_objects(in_list)` that accept a list of objects and returns a sum according to the following specifications:

Each object in the list has 2 fields, `type` and `amount`, and so will look something like this:

```python
list = [
  { "type": "cost", "amount": 10.00 },
  { "type": "cost", "amount": 15.99 },
  { "type": "income", "amount": 150.25 },
  { "type": "income", "amount": 243.52 },
]
```

The `sum_objects(in_list)` function should iterate through all of the items in `in_list` and sum their `amount`s using positive values when `type` is `"income"`, and negative values when `type` is `"cost"`.

For example, passing the above list to the function should return $367.78$.

In [62]:
list = [
  { "type": "cost", "amount": 10.00 },
  { "type": "cost", "amount": 15.99 },
  { "type": "income", "amount": 150.25 },
  { "type": "income", "amount": 243.52 },
]

# Implement 02 here
def sum_objects(in_list):
  # TODO: fill this in
  all_income = 0
  all_cost = 0

  for x in in_list:
    if x["type"] == "cost":
        all_cost += x["amount"]
    elif x["type"] == "income":
        all_income += x["amount"]

  print(all_income - all_cost)
sum_objects(list)

367.78

In [63]:
# Run this cell to test if function returns 367.78

test_list = [
  { "type": "cost", "amount": 10.00 },
  { "type": "cost", "amount": 15.99 },
  { "type": "income", "amount": 150.25 },
  { "type": "income", "amount": 243.52 },
]

sum_objects(test_list)

367.78

#### Exercise 02 test:

Run the following cell to test the `sum_objects()` function.

In [64]:
# Test 02
Tests.test("02", sum_objects)

-135.5
ERROR Check sum of [{'type': 'cost', 'amount': 43.25}, {'type': 'income', 'amount': 60.41}, {'type': 'income', 'amount': 28.14}, {'type': 'cost', 'amount': 57.96}, {'type': 'cost', 'amount': 15.62}, {'type': 'cost', 'amount': 62.65}, {'type': 'cost', 'amount': 50.96}, {'type': 'income', 'amount': 3.26}, {'type': 'cost', 'amount': 35.23}, {'type': 'income', 'amount': 38.36}] should be -135.5 not None
-5.8700000000000045
ERROR Check sum of [{'type': 'cost', 'amount': 40.63}, {'type': 'income', 'amount': 68.23}, {'type': 'income', 'amount': 28.93}, {'type': 'cost', 'amount': 62.4}] should be -5.869999999999997 not None
-77.44999999999999
ERROR Check sum of [{'type': 'income', 'amount': 84.46}, {'type': 'income', 'amount': 78.05}, {'type': 'cost', 'amount': 37.19}, {'type': 'cost', 'amount': 60.2}, {'type': 'income', 'amount': 63.4}, {'type': 'cost', 'amount': 64.53}, {'type': 'cost', 'amount': 62.24}, {'type': 'cost', 'amount': 78.63}, {'type': 'income', 'amount': 46.45}, {'type': 'cost', 'amount': 47.02}] should be -77.45000000000002 not None
-245.41
ERROR Check sum of [{'type': 'cost', 'amount': 79.6}, {'type': 'cost', 'amount': 36.11}, {'type': 'cost', 'amount': 85.33}, {'type': 'cost', 'amount': 51.98}, {'type': 'income', 'amount': 69.35}, {'type': 'cost', 'amount': 61.74}] should be -245.41 not None
343.13
ERROR Check sum of [{'type': 'cost', 'amount': 3.95}, {'type': 'cost', 'amount': 54.63}, {'type': 'income', 'amount': 6.95}, {'type': 'cost', 'amount': 41.11}, {'type': 'income', 'amount': 66.08}, {'type': 'income', 'amount': 58.33}, {'type': 'income', 'amount': 57.23}, {'type': 'income', 'amount': 64.31}, {'type': 'income', 'amount': 97.17}, {'type': 'income', 'amount': 92.75}] should be 343.13 not None
-105.55000000000001
ERROR Check sum of [{'type': 'cost', 'amount': 95.56}, {'type': 'cost', 'amount': 12.37}, {'type': 'income', 'amount': 22.51}, {'type': 'cost', 'amount': 17.21}, {'type': 'income', 'amount': 82.9}, {'type': 'cost', 'amount': 2.74}, {'type': 'cost', 'amount': 8.64}, {'type': 'cost', 'amount': 18.58}, {'type': 'cost', 'amount': 35.18}, {'type': 'cost', 'amount': 86.75}, {'type': 'income', 'amount': 26.52}, {'type': 'income', 'amount': 39.55}] should be -105.55 not None
-136.35
ERROR Check sum of [{'type': 'income', 'amount': 1.19}, {'type': 'cost', 'amount': 32.76}, {'type': 'cost', 'amount': 28.89}, {'type': 'cost', 'amount': 47.04}, {'type': 'cost', 'amount': 17.49}, {'type': 'cost', 'amount': 78.15}, {'type': 'income', 'amount': 46.02}, {'type': 'income', 'amount': 73.45}, {'type': 'income', 'amount': 1.46}, {'type': 'cost', 'amount': 19.18}, {'type': 'income', 'amount': 46.54}, {'type': 'income', 'amount': 23.19}, {'type': 'cost', 'amount': 56.62}, {'type': 'income', 'amount': 34.56}, {'type': 'cost', 'amount': 49.43}, {'type': 'cost', 'amount': 33.2}] should be -136.34999999999997 not None
-168.8
ERROR Check sum of [{'type': 'income', 'amount': 46.43}, {'type': 'cost', 'amount': 59.44}, {'type': 'income', 'amount': 18.57}, {'type': 'cost', 'amount': 66.85}, {'type': 'income', 'amount': 74.95}, {'type': 'cost', 'amount': 53.74}, {'type': 'cost', 'amount': 25.81}, {'type': 'cost', 'amount': 35.05}, {'type': 'cost', 'amount': 25.61}, {'type': 'cost', 'amount': 42.25}] should be -168.79999999999998 not None
169.14000000000004
ERROR Check sum of [{'type': 'cost', 'amount': 68.01}, {'type': 'cost', 'amount': 50.81}, {'type': 'income', 'amount': 16.62}, {'type': 'income', 'amount': 80.89}, {'type': 'income', 'amount': 55.51}, {'type': 'income', 'amount': 52.45}, {'type': 'income', 'amount': 16.15}, {'type': 'income', 'amount': 90.8}, {'type': 'cost', 'amount': 90.49}, {'type': 'income', 'amount': 64.2}, {'type': 'cost', 'amount': 98.2}, {'type': 'income', 'amount': 46.19}, {'type': 'cost', 'amount': 15.28}, {'type': 'income', 'amount': 20.89}, {'type': 'income', 'amount': 48.23}] should be 169.14000000000001 not None
-238.49
ERROR Check sum of [{'type': 'income', 'amount': 35.49}, {'type': 'cost', 'amount': 47.89}, {'type': 'cost', 'amount': 74.33}, {'type': 'cost', 'amount': 24.56}, {'type': 'cost', 'amount': 35.28}, {'type': 'cost', 'amount': 91.92}] should be -238.49 not None
128.71999999999997
ERROR Check sum of [{'type': 'income', 'amount': 35.31}, {'type': 'income', 'amount': 99.38}, {'type': 'income', 'amount': 87.5}, {'type': 'income', 'amount': 30.43}, {'type': 'cost', 'amount': 20.83}, {'type': 'cost', 'amount': 60.33}, {'type': 'cost', 'amount': 6.66}, {'type': 'income', 'amount': 75.96}, {'type': 'cost', 'amount': 16.47}, {'type': 'income', 'amount': 79.92}, {'type': 'income', 'amount': 8.08}, {'type': 'income', 'amount': 27.43}, {'type': 'cost', 'amount': 94.25}, {'type': 'cost', 'amount': 58.06}, {'type': 'cost', 'amount': 58.69}] should be 128.72000000000003 not None
-30.310000000000002
ERROR Check sum of [{'type': 'income', 'amount': 25.17}, {'type': 'cost', 'amount': 92.54}, {'type': 'cost', 'amount': 40.07}, {'type': 'cost', 'amount': 8.14}, {'type': 'income', 'amount': 51.68}, {'type': 'cost', 'amount': 50.76}, {'type': 'income', 'amount': 99.51}, {'type': 'cost', 'amount': 31.77}, {'type': 'income', 'amount': 92.85}, {'type': 'income', 'amount': 34.12}, {'type': 'cost', 'amount': 79.49}, {'type': 'income', 'amount': 35.78}, {'type': 'income', 'amount': 66.56}, {'type': 'cost', 'amount': 53.35}, {'type': 'cost', 'amount': 79.86}] should be -30.30999999999998 not None
-131.70999999999998
ERROR Check sum of [{'type': 'income', 'amount': 38.39}, {'type': 'income', 'amount': 27.05}, {'type': 'cost', 'amount': 1.92}, {'type': 'cost', 'amount': 6.86}, {'type': 'cost', 'amount': 49.27}, {'type': 'cost', 'amount': 77.66}, {'type': 'cost', 'amount': 62.69}, {'type': 'cost', 'amount': 36.78}, {'type': 'income', 'amount': 94.49}, {'type': 'income', 'amount': 59.9}, {'type': 'cost', 'amount': 47.7}, {'type': 'income', 'amount': 83.39}, {'type': 'cost', 'amount': 30.14}, {'type': 'cost', 'amount': 62.29}, {'type': 'cost', 'amount': 59.62}] should be -131.71 not None
160.45999999999998
ERROR Check sum of [{'type': 'income', 'amount': 44.89}, {'type': 'income', 'amount': 57.22}, {'type': 'cost', 'amount': 5.58}, {'type': 'income', 'amount': 34.45}, {'type': 'cost', 'amount': 77.35}, {'type': 'income', 'amount': 88.48}, {'type': 'cost', 'amount': 24.62}, {'type': 'income', 'amount': 42.97}] should be 160.46 not None
-150.07999999999998
ERROR Check sum of [{'type': 'cost', 'amount': 22.28}, {'type': 'cost', 'amount': 3.18}, {'type': 'cost', 'amount': 69.62}, {'type': 'cost', 'amount': 69.1}, {'type': 'income', 'amount': 54.08}, {'type': 'cost', 'amount': 39.98}] should be -150.08 not None
-162.81000000000003
ERROR Check sum of [{'type': 'cost', 'amount': 4.73}, {'type': 'cost', 'amount': 60.23}, {'type': 'income', 'amount': 91.61}, {'type': 'cost', 'amount': 54.11}, {'type': 'income', 'amount': 19.52}, {'type': 'cost', 'amount': 5.42}, {'type': 'cost', 'amount': 12.28}, {'type': 'cost', 'amount': 80.16}, {'type': 'cost', 'amount': 73.31}, {'type': 'income', 'amount': 50.28}, {'type': 'cost', 'amount': 36.36}, {'type': 'income', 'amount': 18.62}, {'type': 'cost', 'amount': 67.56}, {'type': 'income', 'amount': 51.32}] should be -162.81 not None

### Exercise 03:

Working with data files.

Find the name and population of the 3 cities that are geographically closest to the world's most populous city.

# 🤔😱

#### Load Data:

Let's break this down into a few sub-problems.

First, let's load a JSON file that has information about large cities in the world.

The file at this [URL](https://raw.githubusercontent.com/DM-GY-9103-2024F-H/9103-utils/main/datasets/json/cities50k.json) has a list of cities formatted like this:

```py
{
  "name": "Pittsburgh",
  "country": "US",
  "admin1": "Pennsylvania",
  "lat": 40.4406200,
  "lon": -79.9958900,
  "pop": 304391
}
```

This is just like how we loaded ANSUR data files in class:

In [65]:
# Define the location of the json file here
CITIES_FILE = "https://raw.githubusercontent.com/DM-GY-9103-2024F-H/9103-utils/main/datasets/json/cities50k.json"

# Use the object_from_json_url() function to load contents from 
# the json file into a Python object called "info_cities"

info_cities = object_from_json_url(CITIES_FILE)

#### Exercise 03A:

Ok. We should now have a list of objects with information about cities.

Explore the data and answer the following questions:
- How many cities are in this list?
- What's the name of the first city on the list?
- What are the latitude and longitude of the last city on the list?
- What are the populations for the largest and smallest cities?
- What's the name of the city with the largest population?

In [112]:
# Work on 03A here
# How many cities are in the list?

num_cities = len(info_cities)
print(num_cities)


# What's the name of the first city on the list?

first_city = info_cities[0]['name']
print(first_city)


# What are the latitude and longitude of the last city on the list?
last_city = info_cities[-1]
last_latitude = info_cities[-1]['lat']
last_longitude = info_cities[-1]['lon']

print(last_latitude)
print(last_longitude)

# What are the populations for the largest and smallest cities?
all_populations = [C["pop"] for C in info_cities]
largest_population = max(all_populations)
smallest_population = min(all_populations)
print(largest_population)
print(smallest_population)


# What's the name of the city with the largest population?
# def nameBigPop(C): 
#     return C["pop"]

# largest_city_name = max(info_cities, key=nameBigPop)

largest_city_name = max(info_cities, key=lambda city: city["pop"])["name"]
print(largest_city_name)

8670
Abu Dhabi
-17.88333
30.7
22315474
50011
Shanghai

#### Test 03A

In [113]:
# Test 03A
print("num_cities:", num_cities)
print("first_city:", first_city)
print("last_latitude:", last_latitude)
print("last_longitude:", last_longitude)
print("largest_population:", largest_population)
print("smallest_population:", smallest_population)
print("largest_city_name:", largest_city_name)
answers = [num_cities, first_city, last_latitude, last_longitude, largest_population, smallest_population, largest_city_name]

Tests.test("03A", answers)

num_cities: 8670
first_city: Abu Dhabi
last_latitude: -17.88333
last_longitude: 30.7
largest_population: 22315474
smallest_population: 50011
largest_city_name: Shanghai
03A: All tests passed 🎉🎉🎉

#### Exercise 03B:

We have the largest city's name and population, but we need its position.

We can recycle some of the logic from above to get the whole object that contains information for the largest city.

In [131]:
# Work on 03B here

largest_city = max(info_cities, key=lambda city: city["pop"])
largest_city_position = info_cities.index(largest_city)
print(largest_city_position)

1560

In [132]:
# Test 03B
Tests.test("03B", largest_city)

03B: All tests passed 🎉🎉🎉

#### Exercise 03C:

We should have all info about the largest city here.

Now, we'll iterate through the list and use each city's latitude and longitude to calculate its distance from the largest city.

Althought not $100\%$ correct, it's ok to use the [2D Euclidean distances](https://en.wikipedia.org/wiki/Euclidean_distance#Two_dimensions) for this.

Could be useful to define a function `distance(cityA, cityB)` that returns the distance between two cities.

In [ ]:
# Work on 03C here

# Implement the helper function for calculating distances between 2 cities

def distance(cityA, cityB):
  return 0

In [ ]:
# Test 03C
Tests.test("03C", distance)

#### Exercise 03D:

Ok. We implemented a function to calculate the distance between 2 cities, let's use it now.

Iterate through the list of cities again, calculate the distance from each city to the largest city, and add that as a new feature/key to each city's entry:

```py
{
  "name": "Pittsburgh",
  "country": "US",
  "admin1": "Pennsylvania",
  "lat": 40.4406200,
  "lon": -79.9958900,
  "pop": 304391,
  "distance": 1222.32
}
```


Or, iterate through the list of cities, calculate the distance from each city to the largest city and save the name, population and distance of each city on a separate list, maybe called `city_distances`.

`city_distances` could look something like this:

```py
[
  { "name": "Abu Dhabi", "pop": 603492, "distance": 12.34 },
  { "name": "Ajman City", "pop": 490035, "distance": 98.76 },
  ...
  { "name": "Norton", "pop": 52054, "distance": 56.78 }
]
```

Just make sure the `key` that holds the distance value is called `distance`.

In [ ]:
# Work on 03D here

# Now calculate every city's distance from the largest city and
# add that info to each city's entry or save that on a new list
# with their name and pop

city_distances = []

In [ ]:
# Test 03D
Tests.test("03D", city_distances)

# OR
#Tests.test("03D", info_cities)

#### Exercise 03E:

Now, sort the array from the previous step by distance and get the name and population of the 3 cities closest to the largest city.

The answer should be an object where its keys are city names and values are populations.

Something like:

```python
closest_3 = {
  "pittsburgh": 23412,
  "liverpool": 172821,
  "oakland": 182726
}
```

We saw how to sort lists of objects in lecture.

In [ ]:
# Work on 03E here

# Sort the array and get the name and population of the 3 cities closest to the largest city

cities_by_distance = []

closest_3 = {}

In [ ]:
# Test 03F
Tests.test("03E", closest_3)

### Exercise 04:

Visualizing data files.

#### Loading The Data:

Let's load a JSON file that has information about houses in the Los Angeles metropolitan region of California.

The file at this [url](https://raw.githubusercontent.com/DM-GY-9103-2024F-H/9103-utils/main/datasets/json/LA_housing.json) has a list of objects formatted like this:

```python
{
  "longitude": -114.310,
  "latitude": 34.190,
  "age": 15,
  "rooms": 12.234,
  "bedrooms": 3.514,
  "value": 669000
}
```

The number of rooms and bedrooms are not integers because some addresses have multiple units/apartments with different floorplans that get averaged.

In [133]:
# Define the location of the json file
HOUSES_FILE = "https://raw.githubusercontent.com/DM-GY-9103-2024F-H/9103-utils/main/datasets/json/LA_housing.json"

# Use the object_from_json_url() function to load
# the json file into a Python object called "info_houses"

info_houses = object_from_json_url(HOUSES_FILE)

#### Exercise 04A:

Explore the data and answer the following questions:
- How many instances are there in our dataset?
- What's the value of the most expensive house?
- What's the max number of bedrooms in a house?
- What's the number of bedrooms in the house with the most rooms?
- What's the number of rooms in the house with the most bedrooms?

In [ ]:
# Work on 04A here

# How many instances are there in our dataset?
# This is the same as asking "how many rows" or, in this case, "how many houses"

num_houses = 0


# What's the value of the most expensive house?

max_value = 0


# What's the number of bedrooms in the house with the most bedrooms?

most_bedrooms = 0


# What's the number of bedrooms in the house with the most rooms?

bedrooms_in_most_rooms = 0


# What's the number of rooms in the house with the most bedrooms?

rooms_in_most_bedrooms = 0

In [ ]:
# Test 04A
answers = [num_houses, max_value, most_bedrooms, bedrooms_in_most_rooms, rooms_in_most_bedrooms]

Tests.test("04A", answers)

#### Exercise 04B:

Which of the features (`longitude`, `latitude`, `age`, `rooms` or `bedrooms`) is a better indicator for value of a house?

We're going to use XY scatter plots to visualize house value as a function of each of these features, and see if any of them show strong correlation.

Documentation for the plotting library is here:
https://matplotlib.org/stable/api/_as_gen/matplotlib.pyplot.scatter.html

One thing to note is that the functions for plotting like to get lists of values and not lists of objects.

Before we plot anything, let's define a function `list_from_key(objs, key)` that returns a list with all values of feature `key` for all of the objects in `objs`.

In [ ]:
# Work on 04B here

# helper function to get lists of values from specific key
def list_from_key(objs, key):
  # TODO: implement the list_from_key functionality
  return []

In [ ]:
# Test 04B
Tests.test("04B", list_from_key)

#### Exercise 04C:

Now we can actually plot some values and start looking for correlations.

Pick a feature and make a graph that shows house prices as a function of that feature.

You can also write a for loop to plot graphs for all features.

In [ ]:
# Work on 04C here

# TODO: get a list with all of the price values
prices = []

# TODO: get a list with all of the house ages (for example)
house_ages = []


# this is the command to plot a XY scatter plot from 2 lists
# see documentation: https://matplotlib.org/stable/api/_as_gen/matplotlib.pyplot.scatter.html

plt.scatter(house_ages, prices)
plt.xlabel("age")
plt.ylabel("value")
plt.show()

#### What are some features that correlate with price ?

Answer 04C here. Double-click to edit Markdown.

#### Foreshadowing:

What if we use two features at a time?

Is there a pair of features (`longitude`, `latitude`, `age`, `rooms` or `bedrooms`) that correlates to house value?

We could look at the relationship between `price`, `age` and `rooms`:

In [ ]:
# get a list with all of the price values
prices = list_from_key(info_houses, "value")

# get a list with all of the values of one feature
feature_0_values = list_from_key(info_houses, "age")

# get a list with all of the values of another feature
feature_1_values = list_from_key(info_houses, "rooms")

# this is how we plot an XY scatter plot using 3 lists
# see documentation: https://matplotlib.org/stable/api/_as_gen/matplotlib.pyplot.scatter.html

plt.scatter(feature_0_values, feature_1_values, c=prices, alpha=0.3)
plt.xlabel("age")
plt.ylabel("rooms")
plt.show()

Or, we could write a little for loop to plot all possible pairs of features:

In [ ]:
# to plot all feature pairs
# get list of all features
features = info_houses[0].keys()
prices = list_from_key(info_houses, "value")

# get all pairs of features
for idx_0, feature_0 in enumerate(features):
  x = list_from_key(info_houses, feature_0)
  for idx_1, feature_1 in enumerate(features):
    y = list_from_key(info_houses, feature_1)
    # skip repeated features
    if feature_0 != "value" and feature_1 != "value" and idx_1 > idx_0:
      plt.scatter(x, y, c=prices, alpha=0.3)
      plt.xlabel(feature_0)
      plt.ylabel(feature_1)
      plt.show()